/.github/** @NicDev-Studios/gametweaks-maintainers
/games/** @NicDev-Studios/gametweaks-maintainers
/schemas/** @NicDev-Studios/gametweaks-maintainers
/scripts/** @NicDev-Studios/gametweaks-maintainers
/CONTRIBUTING.md @NicDev-Studios/gametweaks-maintainers
